#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.repl {
  position: relative;
  height: 80vh;
}

.repl-history {
  height: 40vh;
  margin: auto;
  display: block;
  overflow: scroll;
}

.repl-input {
  margin: auto;
  height: 10vh;
}

.bottomPage{
  height: 10vh;
}

.repl-command-box {
  
  width: 90%;
  height: relative;
  font-size: relative;
  position:relative;
  bottom: 0;
  margin: auto;
  display: block;
}
